<div class="container">
  <div class="card shadow mt-5">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <h2 class="text-center text-primary">Contact Us</h2>
          <hr class="mb-5" />
          <div class="row">
            <div class="col-sm">
              <p class="lead text-primary">
                <strong>Contact us and we'll get back to you within 24 hours.</strong>
              </p>
              <ul class="list-unstyled lead">
                <li><fa-icon [icon]="locationIcon"></fa-icon> Department of Computer Science 
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PO Box 339 
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;University of Free State 
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bloemfontein 9300 
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;South Africa</li>
                <br>
                <li><fa-icon [icon]="phoneIcon"></fa-icon>&nbsp;051 401001</li>
                <br>
                <li><fa-icon [icon]="faxIcon"></fa-icon>&nbsp;051 401001</li>
                <br>
                <li><fa-icon [icon]="emailIcon"></fa-icon>&nbsp;support@totoitemsapp.com</li>
              </ul>
            </div>
            <div class="col-sm">
              <p class="lead text-primary">
                <strong>You can also contact the website developer directly below.</strong>
              </p>
              <ul class="list-unstyled lead">
                <li><fa-icon [icon]="locationIcon"></fa-icon> Ha-Matala Phase II 
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PO Box 15007 
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Maseru 100 
                  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lesotho </li>
                <br>
                <li><fa-icon [icon]="cellIcon"></fa-icon>&nbsp;266 63824267</li>
                <br>
                <li><fa-icon [icon]="emailIcon"></fa-icon>&nbsp;l.ntoane@gmail.com</li>
              </ul>
            </div>
          </div>
          <button class="btn btn-secondary btn-lg float-right" [routerLink]="['/home']" >Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
